body{
    background-color: aqua ;
    color:grey ;
}
.heading{
    width: 80%;
    font-size: 22px;
}
.name_of_objects , #object_name , #object_accuracy{
    color: orangered;
}
#camera{
    border: 2px dotted cadetblue;
    height: 300px;
    width: 350px;
}